<html lang="en">

<head>
  <%-include('../helpers/head') %>
  <title>Profile</title>
</head>

<body>
  <main>
		<div class="valign-wrapper center" style="height:100%">
			<div class="row">
        <h5>Hello "<%=user.username %>"</h5>
        <a class="btn" href="/logout">Logout</a>
      </div>
    </div>
  </main>
  <%-include('../helpers/flash')%>
</body>

</html>