<html lang="en">

<head>
  <%-include('./helpers/head') %>
  <title>Index page</title>
</head>

<body>
  <main>
		<div class="valign-wrapper center" style="height:100%">
			<div class="row">
        <a class="btn" href="/login">login</a>
      </div>
    </div>
  </main>
  <%-include('./helpers/flash')%>
</body>

</html>